.box{
    height: 100px;
    width: 100px;
    margin: 100px;
    /* border: 10px solid yellow; */
    border-top: 10px solid black;
    border-radius: 50%;
    
    /* background-color: red; */ 
    animation-name: color;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;


}
@keyframes color{
    from { transform: rotate(0deg );}
    to { transform: rotate(360deg );}
}


.nav{
     
    width: 100%;
    border: 1px solid black;
}

.nbox{
    height: 400px;
    width: 400px;
    border: 1px solid black;
}


.navimg{
    background-size: cover;
    height: 70%;
}